<svg class="fullsvg" viewBox="0 0 100 100">
    <path
        d="m 49.999998,14.739414 12.10655,22.319903 24.96862,4.61679 -17.48635,18.411239 3.3249,25.17324 -22.91372,-10.94113 -22.91372,10.94113 3.32491,-25.17324 -17.486356,-18.411239 24.968616,-4.61679 z"
        id="path836"
        style="opacity:0.5;vector-effect:none;fill:#0000ff;fill-opacity:1;stroke:none;stroke-width:10.020504;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
    <circle
        r="50"
        cy="50"
        cx="50"
        id="path834"
        style="opacity:0.5;vector-effect:none;fill:#0000ff;fill-opacity:1;stroke:none;stroke-width:8.48484898;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
</svg>
