<div class="fullpage">

    <h1>scrollable-page works!</h1>

    <p>The fullpage contents scroll neatly. Room is allowed for buttons for both landscape and portrait modes.</p>

    <p *ngFor="let x of alist">
        {{x}} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. In ornare quam viverra orci sagittis. Vel risus commodo viverra maecenas accumsan. Arcu bibendum at varius vel pharetra vel turpis nunc. Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Commodo elit at imperdiet dui accumsan sit amet nulla. Mauris nunc congue nisi vitae suscipit tellus. Tincidunt eget nullam non nisi est sit amet facilisis magna. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Magna etiam tempor orci eu lobortis elementum nibh. Facilisi morbi tempus iaculis urna. Eu consequat ac felis donec et odio pellentesque diam volutpat. Erat nam at lectus urna duis convallis.
    </p>

</div>
